{% include 'header.html' %}
  <section>
    <header class="bg-dark py-5" style="background-image: url({{ url_for('static', filename='assets/images/home-header.jpg')}})">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Thanks for your order!</h1>
          <p class="lead fw-normal mb-0">Your goods are on the way!</p>
      </div>
    </div>
  </header>
    <div class="container px-4 px-lg-5 mt-5" style="margin: 10.5rem">
    <div class="row gx-4 gx-lg-5 row-cols-2 justify-content-center">
      <div class="col">
      <p style="font-weight: bold;">Your order number is {{ order_id }}. All its details were sent to your email.</p>
      <p style="font-weight: bold;">We appreciate your business! If you have any questions, please email</p>
      <a style="text-align: center;" href="mailto:dev.dmytro.rudikov@gmail.com">dev.dmytro.rudikov@gmail.com</a>.
      </div>
    </div>
  </div>
  </section>
{% include "footer.html" %}